<!-- lista-tarefas.component.html -->

<div class="lista-tarefas">
  <h1>Lista de Tarefas</h1>
  <div *ngFor="let tarefa of tarefas" [ngClass]="{'tarefa': true, 'tarefa-concluida': tarefa.concluida}">
    <span>{{ tarefa.descricao }}</span>
    <button class="botao-concluir" (click)="marcarConcluida(tarefa)">Concluir</button>
    <button (click)="excluirTarefa(tarefa)">Excluir</button>
  </div>
  
  <form (submit)="adicionarTarefa($event)">
    <input type="text" placeholder="Nova tarefa" name="novaTarefa" [(ngModel)]="novaTarefa" [ngModelOptions]="{ standalone: true }">
    <button type="submit">Adicionar</button>
  </form>
</div>
